.box, .info-box, .data-box, .inventory-box, .num-box {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px; }

.bold, .table-header {
  font-weight: bold; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.table-header {
  color: #FFFFFF;
  background-color: #369; }

.info-box {
  background-color: #ccffff; }

.data-box {
  background-color: #BCF5A9; }

.inventory-box {
  background: #ccccff;
  padding: 5px; }

.num-box {
  background-color: #ccccff;
  padding: 5px; }

.logo-picture {
  width: 300px;
  height: 300px; }

.option-button {
  display: inline-block; }

/*# sourceMappingURL=app.css.map */
