<div class="well">
    <h3>{{ title }}</h3>
    
    <table class="table table-responsive table-bordered">
        <thead>
            <tr class="table-header">
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="type in types">
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
        </tr>
        </tbody>
    </table>
</div>