<div class="well">
    <h3>{{ title }}</h3>
    <br>
    <form onsubmit=""  class="from-inline"></form>
    <table ng-if="printerTypes" class="table table-responsive table-bordered">
        <thead>
        <tr class="table-header">
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="type in printerTypes">
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
        </tr>
        </tbody>
    </table>
</div>