<div class="well">
    <h3>{{ title }}</h3>
    <input type="text" ng-model="search" placeholder="Search Tasks" class="form-control">
    <hr>
    <table class="table table-responsive table-bordered table striped">
        <thead>
        <tr class="table-header">
            <th>Title</th>
            <th>Created</th>
            <th>Done</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks | filter:search" ng-class="{'bg-success': task.completed == true}">
            <td><a href="/tasks/{{ task.id }}">{{ task.title }}</a></td>
            <td>{{ task.created_at| date: 'd.MM.yyyy'}}</td>
            <td>
                <span class="glyphicon" ng-class="{'glyphicon-ok': task.completed == true, 'glyphicon-remove': task.completed == false}"></span>
            </td>
            <td>{{ task.description }}</td>
        </tr>
        </tbody>
    </table>

</div>