//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// variables
$font-stack: Arial, Helvetica, sans-serif;
$border-color: grey;
$info-color: #ccffff;
$table-header-color: #369;
$data-color: #BCF5A9;
$num-color: #ccccff;
$inventory-color: #bfbfbf;


// mixins
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// base classes
.box {
  border: 1px solid $border-color;
  padding: 15px;
  @include border-radius(5px);
}

.bold{
  font-weight: bold;
}

// html elements
body {
    font-family: $font-stack;
}

// custom classes
.table-header{
  @extend .bold;
  color: #FFFFFF;
  background-color: $table-header-color;
}

.info-box{
  @extend .box;
  background-color: $info-color;
}

.data-box{
  @extend .box;
  background-color: $data-color;
}

.inventory-box{
  @extend .box;
  background: $num-color;
  padding: 5px;
}

.num-box{
  @extend .box;
  background-color: $num-color;
  padding: 5px;
}

// logo picture dimensions
.logo-picture{
  width: 300px;
  height: 300px;
}

// option buttons display
.option-button{
  display: inline-block;
}
