<div class="well">
    <h3>{{ title }}</h3>
    <br>
    <form onsubmit=""  class="from-inline"></form>
   <table ng-if="priorities" class="table table-responsive table-bordered">
       <thead>
        <tr class="table-header">
            <th>Label</th>
            <th>Name</th>
        </tr>
       </thead>
       <tbody>
        <tr ng-repeat="priority in priorities">
            <td>{{ priority.label }}</td>
            <td>{{ priority.name }}</td>
        </tr>
       </tbody>
       </table>
</div>